<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Homepage</title>
  <style>
    button {
      width: 20%;
      padding: 10px;
      background-color: #007bff;
      border: none;
      color: white;
      font-size: 14px;
      border-radius: 5px;
      cursor: pointer;
    }

    button:hover {
      background-color: #0069d9;
    }
  </style>
</head>
<body>
<h1>PayMyBuddy Hompage</h1>
<form action="/logout" method="POST">
  <button type="submit">Déconnecter</button>
</form>
</body>
</html>